= form_for @unsolved do |f|
  - if @unsolved.errors.any?
    #error_explanation
      %h2= "#{pluralize(@unsolved.errors.count, "error")} prohibited this unsolved from being saved:"
      %ul
        - @unsolved.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :priority
    = f.number_field :priority
  .field
    = f.label :topic
    = f.text_field :topic
  .field
    = f.label :department
    = f.text_field :department
  .field
    = f.label :details
    = f.text_area :details
  .field
    = f.label :status
    = f.number_field :status
  .actions
    = f.submit 'Save'
