%div
  = "Topic : "
  = @problem_id.topic
%div
  = "priority : "
  -if @problem_id.priority == 1
    = "Low"
  -if @problem_id.priority == 2
    = "High"
%div
  = "Details : "
  = @problem_id.details
%div
  = "Department : "
  = @problem_id.department
%div
  = "status : "
  -if @problem_id.status == 0
    = "Unsolved"
  -if @problem_id.status == 1
    = "Solved"
%div
  = "User : "
  = session[:user].username
= form_for @solution do |f|
  - if @solution.errors.any?
    #error_explanation
      %h2= "#{pluralize(@solution.errors.count, "error")} prohibited this solution from being saved:"
      %ul
        - @solution.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.number_field :topic_id, :value => @problem_id.id, :readonly => true, :style => "display:none"
  .field
    = f.label :solution
    = f.text_area :solution
  .field
    = f.text_field :user, :value => session[:user].username, :readonly => true, :style => "display:none"
  .field
    = f.label 'Finish ?'
    = f.select 'worked' , [['Just Recommend', 0], ['Finished Job', 1]]
  .actions
    = f.submit 'Save'
